<!DOCTYPE html>
<html>
  <head>
    <title>ChatApp</title>
    <style>
      * { margin: 0; padding: 0; box-sizing: border-box; }
      body { font: 13px Helvetica, Arial; }
      form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
      form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
      form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
      #messages { list-style-type: none; margin: 0; padding: 0; }
      #messages li { padding: 5px 10px; }
      #messages li:nth-child(odd) { background: #eee; }
      .message_window{
        display: inline-block;
        width:100%;
        float: left;
      }
    </style>
  </head>
  <body>
  <script src="/javascripts/socket.io.js"></script>
  <script src="/javascripts/jquery.min.js"></script>
	<script>
    $(function () {
      var openChat = window.opener.openChat || false;
      var msg = window.opener.openChatMessage;
      var socket = window.opener.socket;
      window.fromEmail = window.opener.fromEmail;
      window.toEmail = window.opener.toEmail;
      document.title = toEmail;
      if(msg)
        $('#messages').append($('<li>').text(toEmail+': '+msg));
       //socket.emit('connectionInitiation', {email: fromEmail});
      
      $('form').submit(function(){
        var message = $('#m').val();
        if(!openChat)
        {
          socket.emit('openChat',{msg:message,toUser:toEmail,fromUser:fromEmail});
          openChat = true;
        }
        socket.emit('privateMessage', {msg:message,toUser:toEmail,fromUser:fromEmail});
        $('#messages').append($('<li>').text("You : "+message));
        $('#m').val('');
        return false;
      });
      socket.on('privateMessage', function(data){
        $('#messages').append($('<li>').text(data.fromUser+': '+data.msg));
      });
    });
	</script>
    <div class="message_window">
    <ul id="messages"></ul>
    </div>
    <form action="">
      <input id="m" autocomplete="off" /><button>Send</button>
    </form>
  </body>
</h
